**Prediction using supervised machine learning**

Simple linear regression task as it involves just 2 Variables

In [6]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [7]:
path = "https://raw.githubusercontent.com/AdiPersonalWorks/Random/master/student_scores%20-%20student_scores.csv"

In [8]:
df = pd.read_csv(path)

In [9]:
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [25]:
df['Hours'].isna().count()

25

In [ ]:
df['Hours'].isna().count()

In [29]:
X = df['Hours']
y = df['Scores']
X_train_reshaped =  X.values.reshape(-1,1)
y_train_reshaped =  y.values.reshape(-1,1)

In [15]:
X_train_reshaped =  X.values.reshape(-1,1)
y_train_reshaped =  y.values.reshape(-1,1)

In [16]:
from sklearn.linear_model import LinearRegression

In [20]:
LR =  LinearRegression()

LinearRegression()

In [30]:
LR.fit(X_train_reshaped, y_train_reshaped)

LinearRegression()

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=32)
X_train = X_train.values.reshape(-1,1)
y_train = y_train.values.reshape(-1,1)
X_test = X_test.values.reshape(-1,1)
y_test = y_test.values.reshape(-1,1)

In [39]:
y_predicted = LR.predict(X_test)

In [41]:
y_predicted

array([[13.23705714],
       [26.92318188],
       [26.92318188],
       [62.11607409],
       [89.48832358],
       [92.4210646 ],
       [28.87834256],
       [21.05769985]])

In [42]:
def predict():
  X_test  = input('Enter the Number of Hours.\n')
  X_test = np.array([X_test],ndmin=2,dtype = float)
  y_predicted = LR.predict(X_test)
  print('The predicted Score is',float(y_predicted))
  return 0

In [44]:
predict()

Enter the Number of Hours.
8.5
The predicted Score is 85.57800222706669

0

In [54]:
X_test = np.array([9.25], ndmin=2)
y_pred = LR.predict(X_test)
print(y_pred)

[[92.90985477]]

In [55]:
print("Merci!")

Merci!